<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품조회</title>
</head>
<body>
<h3>상품조회</h3>
<form action="#" method="post">
  <div><label for="">상품번호</label><input id="productId" type="text" th:value="${product.productId}" readonly></div>
  <div><label for="pname">상품명</label><input id="pname" name="pname" type="text" th:value="${product.pname}" readonly></div>
  <div><label for="quantity">수량</label><input id="quantity" name="quantity" type="text" th:value="${product.quantity}" readonly></div>
  <div><label for="price">가격</label><input id="price" name="price" type="text" th:value="${product.price}" readonly></div>
  <div>
    <input id="modifyBtn" type="button" value="수정">
    <input id="deleteBtn" type="button" value="삭제">
    <input id="listBtn" type="button" value="목록">
  </div>
</form>
<script>
  const $modifyBtn = document.getElementById('listBtn');
  const $deleteBtn = document.getElementById('deleteBtn');
  $modifyBtn.addEventListener('click',e=>{
    location.href = '/products';      // GET http://서버주소 or 서버도메인/products
  }, false);
  $deleteBtn.addEventListener('click',e=>{
    if(!window.confirm('삭제하시겠습니까')) return;
    const pid = document.getElementById('productId').value;
    location.href = `/products/${pid}/del`; // GET http://서버주소 or 서버도메인/products/상품번호/del
  });
</script>
</body>
</html>