<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$Title$</title>
</head>
<body>
  <div th:with="name='홍길동'">
    <span th:text="${name}"></span><span>[[${name}]]</span>
    <span th:text="'반갑습니다.'"></span><span>[['반갑습니다']]</span>
  </div>
  <div>
    <p th:text="${key1}"></p>
    <p th:text="${key2}"></p>
    <p th:text="${key3}"></p>
  </div>
  <div>
    <span th:text="'<span>hi</span>'"></span>
    <span th:utext="'<span>hi</span>'"></span>
  </div>
<!--  <div th:text="'KH인재교육원'"></div> -->
<!--/*  <div th:text="'KH인재교육원'"></div> */-->
  <p th:if="true">kh</p>
  <p th:if="false">인재교육원</p>

  <p th:unless="true">kh</p>
  <p th:unless="false">인재교육원</p>

  <th:block th:with="hobby='축구'">
    <div th:switch="${hobby}">
      <p th:case="축구" th:text="축구"></p>
      <p th:case="농구" th:text="농구"></p>
    </div>
  </th:block>

  <div th:each="person:${persons}">
    <span th:text="${person.name}"></span><span th:text="${person.age}"></span>
  </div>

  <p th:text="${1+1}"></p>
  <p th:text="${ not((1 > 2) and (2 < 3)) }"></p>
</body>
</html>