<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품등록</title>
  <style>
    input::placeholder {
      color:red;
      font-size:0.8em;
      font-style: italic;
    }
    .err-msg {
      display:none;
      color:red;
      font-size:0.8em;
      font-style: italic;
    }
    .err-msg.on{
      display:inline-block;
    }
  </style>
</head>
<body>
  <h3>상품등록</h3>
  <form action="/products/add" method="post">
    <div>
      <label for="pname">상품명</label>
      <input id="pname" name="pname" type="text" placeholder="영문/숫자/한글/_-가능" minlength="3" maxlength="10"
             pattern="[a-zA-Z0-9ㄱ-ㅎ가-힣_\-]{3,10}" title="영문/숫자/한글/_-가능, 3~10자리" required>
      <span class="err-msg" id="errPname">11</span>
    </div>
    <div>
      <label for="quantity">수량</label>
      <input id="quantity" name="quantity" type="text" placeholder="숫자0~9사이 입력가능 1~10자리" minlength="1" maxlength="10"
             pattern="[0-9]{1,10}" title="숫자0~9사이 입력가능 1~10자리" required>
      <span class="err-msg" id="errQuantity">22</span>
    </div>
    <div><label for="price">가격</label>
      <input id="price" name="price" type="text" placeholder="숫자0~9사이 입력가능 1~10자리" minlength="1" maxlength="10"
             pattern="[0-9]{1,10}" title="숫자0~9사이 입력가능 1~10자리" required>
      <span class="err-msg" id="errPrice">33</span>
    </div>
    <div>
      <input type="reset" value="취소">
      <input type="submit" value="저장">
      <input type="button" value="목록" onclick="location.href='/products'">
    </div>
  </form>
  <script>

    //1) 필드 레벨의 유효성 체크
    pname.addEventListener('focus',evt=>{
      evt.target.style.backgroundColor = 'yellow';
    });

    pname.addEventListener('blur',evt=>{
      evt.target.style.backgroundColor = 'initial';
      //유효성 체크
      console.log(evt.target.value);
      const pattern = /[a-zA-Z0-9ㄱ-ㅎ가-힣_\-]{3,10}/;
      if(pattern.test(evt.target.value)){
        errPname.classList.remove('on');
        errPname.textContent = '';
      }else{
        errPname.classList.add('on');
        errPname.textContent = '영문/숫자/한글/_-가능, 3~10자리';
        evt.target.focus();
        evt.target.select();
      }
    });
    quantity.addEventListener('blur',evt=>{
      evt.target.style.backgroundColor = 'initial';
      //유효성 체크
      console.log(evt.target.value);
      const pattern = /[0-9]{1,10}/;
      if(pattern.test(evt.target.value)){
        errQuantity.classList.remove('on');
        errQuantity.textContent = '';
      }else{
        errQuantity.classList.add('on');
        errQuantity.textContent = '숫자0~9사이 입력가능 1~10자리';
        evt.target.focus();
        evt.target.select();
      }
    });
    price.addEventListener('blur',evt=>{
      evt.target.style.backgroundColor = 'initial';
      //유효성 체크
      console.log(evt.target.value);
      const pattern = /[0-9]{1,10}/;
      if(pattern.test(evt.target.value)){
        errPrice.classList.remove('on');
        errPrice.textContent = '';
      }else{
        errPrice.classList.add('on');
        errPrice.textContent = '숫자0~9사이 입력가능 1~10자리';
        evt.target.focus();
        evt.target.select();
      }
    });
  </script>
</body>
</html>