<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뉴스검색</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>

</style>
<body>
<h3>뉴스검색</h3>
<div>
<form action="/pubdata/news/search" method="GET">
  <label for="search">검색어</label>
  <input id="search" type="text" name="keyword">
  <button class="btn btn-dark" id="searchBtn" type="button">검색</button>
</form>
</div>
<div>
  <p>검색결과</p>
<!--  제목, 뉴스링크, 요약정보, 작성일 -->
  <table class="table table-secondary">
    <thead class="table-dark">
      <tr>
        <th>제목</th>
        <th>링크</th>
        <th>요약</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>LG 화학, 글로벌 수주 '낭보'…이차전지 소재 자리매김 '총력'</td>
        <td>https://www.pinpointnews.co.kr/news/articleView.html?idxno=246851</td>
        <td>LG화학이 배터리 소재 사업을 중심으로 발 빠르게 체질개선에 나서고 있다.</td>
        <td>Tue, 20 Feb 2024 16:02:00 +0900</td>
      </tr> -->
    </tbody>
  </table>
</div>
<script>
  const searchBtn = document.getElementById('searchBtn');
  const search = document.getElementById('search');
  searchBtn.addEventListener('click', callNaverApi);
  search.addEventListener('keydown',evt=>{
    if(evt.key === 'Enter'){
     callNaverApi(evt);
    }
  });

  function callNaverApi(evt){
    evt.preventDefault();

    const keyword = search.value;
    const url= `/pubdata/news/search?keyword=${keyword}`;
    const option = {
      method : 'GET',
      headers : {
        'Content-Type' : 'application/json'
      }
    };
    fetch(url,option)
      .then(res=>{
        if(!res.ok) {
          throw new Error('응답오류발생');
        }
        return res.json();   //응답메시지 바디를 읽어서 json포맷문자열=>js객체로 변환
      })
      .then(makeHtml)
      .catch(error=>console.error('오류 : ',error));
      // .then(res=>{makeHtml(res)});
      // console.log(res.items)
      // res.items.forEach(item=>console.log(item.title))
  };

  function makeHtml(res){
    //콘솔창 띄워서 확인
    // res.items.forEach(article => console.log(article.title, article.originallink, article.pubdate, article.description));
    res.items.forEach(article=>{
        console.log(article.title);
        console.log(article.link);
        console.log(article.pubDate);
    });
    const $tbody = document.querySelector('tbody');
    let html = $tbody.innerHTML;
    res.items.forEach(article=>{
       html += `<tr>
                  <td>${article.title}</td>
                  <td><a href = '${article.originallink}'>원문</td>
                  <td>${article.description}</td>
                  <td>${changeDatetime(article.pubDate)}</td>
                </tr>`;
    });
    $tbody.innerHTML = html;

    function changeDatetime(dt){
      const date = new Date(dt);

      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      let hour = date.getHours();
      const ampm = hour >=12 ? 'pm' : 'am';

      hour = hour % 12;
      hour = hour ? hour : 12;

      const dateString = year + '-' + month + '-' + day + '' + ampm + '' + hour + ':00';
      return dateString;
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>