<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뉴스검색</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>

</style>
<body>
<h3>주식검색</h3>
<div>
<form action="/pubdata/news/search" method="GET">
  <label for="search">검색어</label>
  <input id="search" type="text" name="keyword">
  <button class="btn btn-dark" id="searchBtn" type="button">검색</button>
  <label for="startDate">시작일
    <input id="startDate" type="date">
  </label>
  <label for="endDate">

  </label>
</form>
</div>
<div>
  <p>검색결과</p>
<!--  제목, 뉴스링크, 요약정보, 작성일 -->
  <table class="table table-secondary">
    <thead class="table-dark">
      <tr>
        <th>종목명</th>
        <th>기준일</th>
        <th>종가</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<script>
  const $search = document.getElementById('search');
  const $searchBtn = document.getElementById('searchBtn');

  
  $searchBtn.addEventListener('click', callStockApi);
  $search.addEventListener('keydown',evt=>{
    if(evt.key === 'Enter') {
      callStockApi(evt);
    }
  });
  
  
  function callStockApi(evt){
    const keyword = search.value;
    const startDate = document.querySelector('#startDate').value;
    const url= `/pubdata/stock/find?keyword=${keyword}&startDate=${startDate}`;
    const option = {
      method : 'GET',
      headers : {
        'Content-Type' : 'application/json'
      }
    };
    fetch(url,option)
      .then(res=>{
        if(!res.ok) {
          throw new Error('응답오류발생');
        }
        return res.json();   //응답메시지 바디를 읽어서 json포맷문자열=>js객체로 변환
      })
      .then(res =>{
        console.log(res.response.body.items)
        let result = Object.values(res.response.body.items)
        console.log(result)
        makeHtml(res)})
      .catch(error=>console.error('오류 : ',error));
      // .then(res=>{makeHtml(res)});
      // res.items.forEach(item=>console.log(item.title))
  };

  function makeHtml(res){
    const result = Object.values(res.response.body.items);
    result.forEach(items =>{
      items.forEach(item =>{
      });
    });

    // 콘솔창 띄워서 확인
    // res.items.forEach(stock => console.log(stock.itmsNm, stock.basDt, stock.clpr));
    const $tbody = document.querySelector('tbody');
    let html = '';
    result.forEach(items =>{
      items.forEach(item =>{
        html += `<tr>
                    <td>${item.itmsNm}</td>
                    <td>${item.basDt}</td>
                    <td>${item.clpr}</td>
                  </tr>`
      });
    });
    $tbody.innerHTML = html;

    function changeDatetime(dt){
      const date = new Date(dt);

      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getDate();
      let hour = date.getHours();
      const ampm = hour >=12 ? 'pm' : 'am';

      hour = hour % 12;
      hour = hour ? hour : 12;

      const dateString = year + '-' + month + '-' + day + '' + ampm + '' + hour + ':00';
      return dateString;
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>